# This is a basic workflow to help you get started with Actions

name: CI with Java and Gradle

# Controls when the action will run. 
on: [push]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, mac-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # set up Java
      - name: Setup JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Checkout our code
        uses: actions/checkout@v2
        
        # Make Gradle wrapper executable
      - name: Make Gradle executable
        run: chmod +x ./gradlew
        # Run our build using gradle
      - name: Build with Gradle
        run: ./gradlew build
        
      - name: Generate Java Documents
        run: ./gradlew javadoc
        
      - name: Buildscan
        run: ./gradlew build --scan
        
      - uses: actions/upload-artifact@v2
        with:
          name: Package
          path: app/build/libs
          
  test:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, mac-latest]
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: Package
          path: app/build/libs
          
      - name: Setup JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Checkout our code
        uses: actions/checkout@v2
        
        # Make Gradle wrapper executable
      - name: Make Gradle executable
        run: chmod +x ./gradlew
        # Run our build using gradle
      - name: Build with Gradle
        run: ./gradlew test
      
      - uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: app/build/test-results
